<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Content Management System</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css_2/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Content Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/landing">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/landing/data">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/landing/datadate">Data Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/landing/map">Maps</a>
          </li>
          <li class="nav-item">
            <button id="logout_button" class="btn btn-primary">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="form-group row">
      <div class="form-group col-md-5">
        <button class="btn btn-primary" id="add">+ add</button>
      </div>
    </div>
    <form id="add_form" method="post" style="display:none;">
      <div class="form-group row">
        <input type="hidden" id="hidden_id">
        <div class="form-group col-md-5">
          <label for="letter">Letter</label>
          <input type="date" class="form-control" id="letter" placeholder="Letter">
        </div>
        <div class="form-group col-md-5">
          <label for="frequency">Frequency</label>
          <input type="text" class="form-control" id="frequency" placeholder="Frequency">
        </div>
        <div class="form-group col-md-2">
          <button type="submit" class="btn btn-primary">save</button>
        </div>
      </div>
    </form>
    <div class="form-row">
      <h2>Search</h2>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="letter">Letter</label>
        <input type="date" class="form-control" id="letter_search" placeholder="Letter">
      </div>
      <div class="form-group col-md-6">
        <label for="frequency">Frequency</label>
        <input type="text" class="form-control" id="frequency_search" placeholder="Frequency">
      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Letter</th>
          <th scope="col">Frequency</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.slim.min.js"></script>
  <script src="/vendor/bootstrap/js_2/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/jquery-3.4.1.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    authUser();
    $('#add').click(function() {
        $('#hidden_id').val('');
        $('#add_form').show();
    });
    loadData();
    $('#add_form').submit(function (event) {
        event.preventDefault();
        if ($('#hidden_id').val()) {
            editData($('#hidden_id').val());
        } else {
            addData();
        }
        $('#add_form').hide();
    })
    $('#letter_search, #frequency_search').keyup(function () {
        let letterSearch = $('#letter_search').val();
        let frequencySearch = $('#frequency_search').val();
        let objectSearch = {letter:letterSearch,frequency:frequencySearch};
        if (!letterSearch) {
            delete objectSearch['letter'];
        }
        if (!frequencySearch) {
            delete objectSearch['frequency'];
        }
        searchData(objectSearch);
    })
    $('#logout_button').click(function() {
        destroyUser();
    })
  })

  const updateAjax = () => {
    $('.btn-update').click(function() {
        $('#add_form').show();
        let idData = $(this).attr('data-id');
        let counterData = $(this).attr('data-counter');

        let selectorDataLetter = `table tbody tr:nth-child(${counterData}) td:nth-child(2)`;
        let selectorDataFrequency = `table tbody tr:nth-child(${counterData}) td:nth-child(3)`;

        $('#letter').val($(selectorDataLetter).text());
        $('#frequency').val($(selectorDataFrequency).text());
        $('#hidden_id').val(idData);
    });
  }

  const deleteAjax = () => {
    $('.btn-delete').click(function () {
        $('#add_form').hide();
        let confirmationDelete = confirm('Are you sure want to delete this data?');
        if (confirmationDelete) {
            let idData = $(this).attr('data-id');
            deleteData(idData);
        }
    })
  }

  const apiUrl = "http://localhost:3000/api/datadate/";

  const loadData = () => {
    $.ajax({
      method:"GET",
      url:apiUrl,
      dataType:"json"
    }).done(function (data) {
      let html = '';
      data.forEach((item,index) => {
        let year = (new Date(item.letter)).getFullYear();
        let month = (new Date(item.letter)).getMonth() + 1;
        if (month.toString().length < 2) {
            month = "0" + month;
        }
        let date = (new Date(item.letter)).getDate();
        if (date.toString().length < 2) {
            date = "0" + date;
        }
        html += `<tr>
          <td scope="row">${index+1}</td>
          <td>${year}-${month}-${date}</td>
          <td>${item.frequency}</td>
          <td>
          <a class="btn btn-warning btn-update" data-id=${item._id} data-counter=${index+1}>Update</a>&nbsp;
          <a class="btn btn-danger btn-delete" data-id=${item._id}>Delete</a>
          </td>
        </tr>`;
      })
      $('table tbody').html(html);
      updateAjax();
      deleteAjax();
    })
  }

  const addData = () => {
    $.ajax({
      method:"POST",
      url:apiUrl,
      data: {
        letter:$('#letter').val(),
        frequency:$('#frequency').val()
      },
      dataType: "json"
    }).done(function (data) {
      loadData();
    })
  }

  const editData = (hidden_id) => {
    $.ajax({
      method:"PUT",
      url:apiUrl+hidden_id,
      data: {
        letter:$('#letter').val(),
        frequency:$('#frequency').val()
      },
      dataType: "json"
    }).done(function (data) {
      loadData();
    })
  }

  const deleteData = (hidden_id) => {
    $.ajax({
      method:"DELETE",
      url:apiUrl+hidden_id,
      dataType:"json"
    }).done(function (data) {
      loadData();
    })
  }

  const searchData = (objSearch) => {
    $.ajax({
      method:"POST",
      url:apiUrl+'search',
      data:objSearch,
      dataType:"json"
    }).done(function (data) {
      let html = "";
      data.forEach((item,index) => {
        let year = (new Date(item.letter)).getFullYear();
        let month = (new Date(item.letter)).getMonth() + 1;
        if (month.toString().length < 2) {
            month = "0" + month;
        }
        let date = (new Date(item.letter)).getDate();
        if (date.toString().length < 2) {
            date = "0" + date;
        }
        html += `<tr>
          <td scope="row">${index+1}</td>
          <td>${year}-${month}-${date}</td>
          <td>${item.frequency}</td>
          <td>
          <a class="btn btn-warning btn-update" data-id=${item._id} data-counter=${index+1}>Update</a>&nbsp;
          <a class="btn btn-danger btn-delete" data-id=${item._id}>Delete</a>
          </td>
        </tr>`;
      })
      $('table tbody').html(html);
      updateAjax();
      deleteAjax();
    })
  }

  const apiUrlCheck = "http://localhost:3000/api/users/check/";
  const apiUrlDestroy = "http://localhost:3000/api/users/destroy/"

  const authUser = () => {
      let tokenStorage = localStorage.getItem("token");
      if (tokenStorage) {
          $.ajax({
              method:"GET",
              url: apiUrlCheck,
              headers: {'Authorization':tokenStorage},
              dataType: "json"
          }).done(function(data) {
              if (!data.valid) {
                  window.location = '/login';
              }
          })
      } else {
          window.location = '/login';
      }
  }

  const destroyUser = () => {
      let tokenStorage = localStorage.getItem("token");
      $.ajax({
          method:"GET",
          url: apiUrlDestroy,
          headers: {'Authorization':tokenStorage},
          dataType: "json"
      }).done(function (data) {
          if (data.logout) {
              localStorage.removeItem("token");
              localStorage.removeItem("email");
              window.location = '/login';
          }
      })
  }

  </script>

</body>

</html>
