<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Content Management System</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css_2/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Content Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Data Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Maps</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
      <div class="form-group row">
          <div class="form-group col-md-5">
            <button class="btn btn-primary" id="add">+ add</button>
          </div>
      </div>
      <div class="form-group row" style="display:none;" id="add_form">
          <div class="form-group col-md-5">
              <label for="letter">Letter</label>
              <input type="text" class="form-control" id="letter" placeholder="Letter">
          </div>
          <div class="form-group col-md-5">
              <label for="frequency">Frequency</label>
              <input type="text" class="form-control" id="frequency" placeholder="Frequency">
          </div>
          <div class="form-group col-md-2">
              <button id="save" class="btn btn-primary">save</button>
          </div>
      </div>
      <div class="form-row">
          <h2>Search</h2>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="letter">Letter</label>
              <input type="text" class="form-control" id="letter" placeholder="Letter">
          </div>
          <div class="form-group col-md-6">
              <label for="frequency">Frequency</label>
              <input type="text" class="form-control" id="frequency" placeholder="Frequency">
          </div>
      </div>
      <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Letter</th>
                  <th scope="col">Frequency</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.slim.min.js"></script>
  <script src="/vendor/bootstrap/js_2/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/jquery-3.4.1.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function() {
          $('#add').click(function() {
              $('#add_form').show();
          });
          loadData();
          $('#save').click(function() {
              addData();
              $('#add_form').hide();
          })
      })

      const apiUrl = "http://localhost:3000/api/data";
      const loadData = () => {
          $.ajax({
              method:"GET",
              url:apiUrl,
              dataType:"json"
          }).done(function (data) {
              let html = '';
              data.forEach((item,index) => {
                  html += `<tr>
                      <th scope="row">${index+1}</th>
                      <td>${item.letter}</td>
                      <td>${item.frequency}</td>
                      <td>
                          <a class="btn btn-warning" href="#">Update</a>&nbsp;
                          <a class="btn btn-danger" href="#">Delete</a>
                      </td>
                  </tr>`;
              })
              $('table tbody').html(html);
          })
      }

      const addData = () => {
          $.ajax({
              method:"POST",
              url:apiUrl,
              data: {
                  letter:$('#letter').val();
                  frequency:$('#frequency').val();
              },
              dataType: "json"
          }).done(function (data) {
              loadData();
          })
      }

  </script>

</body>

</html>
