<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Content Management System</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css_2/bootstrap.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Content Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/landing">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/landing/data">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/landing/datadate">Data Date</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/landing/map">Maps</a>
          </li>
          <li class="nav-item">
            <button id="logout_button" class="btn btn-primary">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome, <div id="email"></div></h1>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.slim.min.js"></script>
  <script src="/vendor/bootstrap/js_2/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/jquery-3.4.1.min.js"></script>

  <script type="text/javascript">
      $(document).ready(function() {
          authUser();
          $('#email').text(localStorage.getItem("email"));
          $('#logout_button').click(function() {
              destroyUser();
          })
      })

      const apiUrlCheck = "http://localhost:3000/api/users/check/";
      const apiUrlDestroy = "http://localhost:3000/api/users/destroy/";

      const authUser = () => {
          let tokenStorage = localStorage.getItem("token");
          if (tokenStorage) {
              $.ajax({
                  method:"GET",
                  url: apiUrlCheck,
                  headers: {'Authorization':tokenStorage},
                  dataType: "json"
              }).done(function(data) {
                  if (!data.valid) {
                      window.location = '/login';
                  }
              })
          } else {
              window.location = '/login';
          }
      }

      const destroyUser = () => {
          let tokenStorage = localStorage.getItem("token");
          $.ajax({
              method:"GET",
              url: apiUrlDestroy,
              headers: {'Authorization':tokenStorage},
              dataType: "json"
          }).done(function (data) {
              if (data.logout) {
                  localStorage.removeItem("token");
                  localStorage.removeItem("email");
                  window.location = '/login';
              }
          })
      }
  </script>

</body>

</html>
